.container {
    max-width: 1000px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.formulario {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

input,
button {
    padding: 10px;
    font-size: 14px;
}

button {
    width: fit-content;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

small {
    color: red;
    font-size: 12px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 8px;
}

.descricao-secao {
    margin-bottom: 12px;
    color: #555;
    font-size: 14px;
}

input,
button,
select {
    padding: 10px;
    font-size: 14px;
}